/* Reset global */
* {
    box-sizing: border-box;
}

html, body, #root {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

/* Optionnel: évite les scrollbars horizontales */
body {
    overflow-x: hidden;
    font-family: "Inter", "Roboto", sans-serif;
    background: #0f172a;
}